.tasks_container{
    width: 100%;
}

@media only screen and (min-width: 475px){

}

@media only screen and (min-width: 640px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){
    .tasks_container{
        width: 65%;
        height: 100%;
        overflow-y: auto;
        scrollbar-width: none;
    }
}

@media only screen and (min-width: 1200px){

}

@media only screen and (min-width: 1440px){

}

@media only screen and (min-width: 1536px){

}